# Solutions to the Programming Assignment 2

This Jupyter Note book discusses how the solutions to the Programming Assignment 2 is obtained from the results of the three phases of Map-Reduce.

### First Question:

Execute all phases of the TFIDF program and submit the following items:

a.	TFIDF for all terms in each document, sorted alphabetically by wordsâ€™ letters, and formatted for easy readability.

b.	List of top fifteen words from each document having the highest TFIDF value. This selection of top 15 words may be done manually or by a sequential program. 

#### Solution
For the First Question, let start by storing all the results to variables in this namespace from files:
1. PhaseOne/results/phase1_res/part-r-00000
2. PhaseTwo/results/phase2_res/part-r-00000
3. PhaseThree/results/phase3_res/part-r-00000

In [199]:
# Importing Libraries

import numpy as np
import pandas as pd

In [200]:
# Storing the data from PhaseOne to the variables

with open("PhaseOne/results/phase1_res/part-r-00000") as file1_1:
    data1_1 = file1_1.read()
    data1_1_n= data1_1.split("\n")

word1_1 = []
document1_1 = []
val1_1 = []

print(data1_1_n[100])

for line in data1_1_n:
    if line!="":
        key = line.split("\t")[0]
        val1_1.append(int(line.split("\t")[1]))
        word1_1.append(key.split(",")[0])
        document1_1.append(key.split(",")[1])

print(word1_1[100],document1_1[100],val1_1[100])

Lorem,0004	2
Lorem 0004 2

In [201]:
# Storing the data from Phasetwo to the dictionary d1_1 that mpas each document to the 
# total number of terms in it

with open("PhaseTwo/results/phase2_res/part-r-00000") as file1_2:
    data1_2 = file1_2.read()
    data1_2_n= data1_2.split("\n")

print(data1_2_n)

d1_1={}

for line in data1_2_n:
    if line!="":
        d1_1[line.split("\t")[0]]=int(line.split("\t")[1])
        
print(d1_1)

totalDocs=len(d1_1)

print(totalDocs)

['0001\t91', '0002\t129', '0003\t47', '0004\t104', '0005\t121', '0006\t134', '0007\t99', '0008\t91', '0009\t129', '0010\t47', '0011\t104', '0012\t121', '']
{'0001': 91, '0002': 129, '0003': 47, '0004': 104, '0005': 121, '0006': 134, '0007': 99, '0008': 91, '0009': 129, '0010': 47, '0011': 104, '0012': 121}
12

In [202]:
# Storing the data from the PhaseThree to the dictionary d1_2 that maps each word to the 
# number of documents in which it occured

with open("PhaseThree/results/phase3_res/part-r-00000") as file1_3:
    data1_3 = file1_3.read()
    data1_3_n= data1_3.split("\n")

print(data1_3_n[10])

d1_2={}

for line in data1_3_n:
    if line!="":
        d1_2[line.split("\t")[0]]=int(line.split("\t")[1])

print(d1_2["All"])

All	2
2

In [203]:
# Creating a dataframe df_1 with the above information

df_1=pd.DataFrame(np.array(word1),columns=["Word"])

df_1["Document"]=document1_1

df_1["n"]=val1_1

df_1.head()

    Word Document  n
0  11032     0002  2
1  11032     0003  1
2  11032     0009  2
3  11032     0010  1
4  11033     0002  1

In [204]:
N_arr = []

for x in df_1["Document"]:
    N_arr.append(d1_1[x])
    
df_1["N"]=N_arr

df_1.head()

    Word Document  n    N
0  11032     0002  2  129
1  11032     0003  1   47
2  11032     0009  2  129
3  11032     0010  1   47
4  11033     0002  1  129

In [205]:
m_arr = []

for x in df_1["Word"]:
    m_arr.append(d1_2[x])
    
df_1["m"]=m_arr

df_1.head()

    Word Document  n    N  m
0  11032     0002  2  129  4
1  11032     0003  1   47  4
2  11032     0009  2  129  4
3  11032     0010  1   47  4
4  11033     0002  1  129  4

In [206]:
totalDocs_arr=np.full((df_1.shape[0],1),totalDocs)

df_1["totalDocs"] = totalDocs_arr

df_1.head()

    Word Document  n    N  m  totalDocs
0  11032     0002  2  129  4         12
1  11032     0003  1   47  4         12
2  11032     0009  2  129  4         12
3  11032     0010  1   47  4         12
4  11033     0002  1  129  4         12

In [207]:
# Calculating TF-IDF from all the variables collected 

df_1["TFIDF"] = df_1["n"]/df_1["N"] * np.log10(df_1["totalDocs"]/df_1["m"])

df_1

        Word Document  n    N  m  totalDocs     TFIDF
0      11032     0002  2  129  4         12  0.007397
1      11032     0003  1   47  4         12  0.010152
2      11032     0009  2  129  4         12  0.007397
3      11032     0010  1   47  4         12  0.010152
4      11033     0002  1  129  4         12  0.003699
5      11033     0003  1   47  4         12  0.010152
6      11033     0009  1  129  4         12  0.003699
7      11033     0010  1   47  4         12  0.010152
8      1500s     0001  1   91  4         12  0.005243
9      1500s     0003  1   47  4         12  0.010152
10     1500s     0008  1   91  4         12  0.005243
11     1500s     0010  1   47  4         12  0.010152
12      1914     0003  1   47  2         12  0.016556
13      1914     0010  1   47  2         12  0.016556
14     1960s     0001  1   91  2         12  0.008551
15     1960s     0008  1   91  2         12  0.008551
16       200     0005  1  121  2         12  0.006431
17       200     0012  1  121  2         12  0.006431
18      2000     0002  1  129  2         12  0.006032
19      2000     0009  1  129  2         12  0.006032
20        45     0002  2  129  2         12  0.012064
21        45     0009  2  129  2         12  0.012064
22     Aldus     0001  1   91  2         12  0.008551
23     Aldus     0008  1   91  2         12  0.008551
24   Aliquam     0006  1  134  2         12  0.005807
25   Aliquam     0007  1   99  2         12  0.007860
26       All     0005  1  121  2         12  0.006431
27       All     0012  1  121  2         12  0.006431
28        BC     0002  2  129  2         12  0.012064
29        BC     0009  2  129  2         12  0.012064
..       ...      ... ..  ... ..        ...       ...
856      was     0001  1   91  2         12  0.008551
857      was     0008  1   91  2         12  0.008551
858      web     0004  2  104  2         12  0.014964
859      web     0011  2  104  2         12  0.014964
860     when     0001  1   91  4         12  0.005243
861     when     0004  1  104  4         12  0.004588
862     when     0008  1   91  4         12  0.005243
863     when     0011  1  104  4         12  0.004588
864    which     0005  2  121  2         12  0.012862
865    which     0012  2  121  2         12  0.012862
866     will     0004  2  104  2         12  0.014964
867     will     0011  2  104  2         12  0.014964
868     with     0001  2   91  4         12  0.010486
869     with     0005  1  121  4         12  0.003943
870     with     0008  2   91  4         12  0.010486
871     with     0012  1  121  4         12  0.003943
872     word     0002  1  129  2         12  0.006032
873     word     0009  1  129  2         12  0.006032
874    words     0002  1  129  4         12  0.003699
875    words     0005  3  121  4         12  0.011829
876    words     0009  1  129  4         12  0.003699
877    words     0012  3  121  4         12  0.011829
878  written     0002  1  129  2         12  0.006032
879  written     0009  1  129  2         12  0.006032
880    years     0002  1  129  4         12  0.003699
881    years     0004  1  104  4         12  0.004588
882    years     0009  1  129  4         12  0.003699
883    years     0011  1  104  4         12  0.004588
884      you     0005  2  121  2         12  0.012862
885      you     0012  2  121  2         12  0.012862

[886 rows x 7 columns]

In [208]:
# Saving the Dataframe to a file 

df_1.to_csv("DF_1", sep='\t', encoding='utf-8')

#### This code answers the b part of the question:

The dataframe df_1 is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

In [209]:
df_1_n=df_1.sort_values(["Document","TFIDF"],ascending=[True,False])

df_1_n=df_1_n.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_1_n=df_1_n.drop('level_0',axis = 1).set_index('level_1')

df_1_n=df_1_n.groupby(["Document"]).head(15)

df_1_n.index+=1

df_1_n

                Word Document  n    N  m  totalDocs     TFIDF
level_1
1              dummy     0001  2   91  2         12  0.017102
2               type     0001  2   91  2         12  0.017102
3        typesetting     0001  2   91  2         12  0.017102
4               with     0001  2   91  4         12  0.010486
5              1960s     0001  1   91  2         12  0.008551
6              Aldus     0001  1   91  2         12  0.008551
7           Letraset     0001  1   91  2         12  0.008551
8          PageMaker     0001  1   91  2         12  0.008551
9                 an     0001  1   91  2         12  0.008551
10              been     0001  1   91  2         12  0.008551
11         centuries     0001  1   91  2         12  0.008551
12        containing     0001  1   91  2         12  0.008551
13        electronic     0001  1   91  2         12  0.008551
14       essentially     0001  1   91  2         12  0.008551
15              ever     0001  1   91  2         12  0.008551
1                 45     0002  2  129  2         12  0.012064
2                 BC     0002  2  129  2         12  0.012064
3          classical     0002  2  129  2         12  0.012064
4              comes     0002  2  129  2         12  0.012064
5               line     0002  2  129  2         12  0.012064
6         literature     0002  2  129  2         12  0.012064
7            popular     0002  2  129  2         12  0.012064
8              Latin     0002  3  129  4         12  0.011096
9               from     0002  4  129  6         12  0.009334
10             11032     0002  2  129  4         12  0.007397
11                 a     0002  5  129  8         12  0.006825
12              2000     0002  1  129  2         12  0.006032
13           College     0002  1  129  2         12  0.006032
14          Contrary     0002  1  129  2         12  0.006032
15              Evil     0002  1  129  2         12  0.006032
...              ...      ... ..  ... ..        ...       ...
1            content     0011  2  104  2         12  0.014964
2               here     0011  2  104  2         12  0.014964
3               page     0011  2  104  2         12  0.014964
4           readable     0011  2  104  2         12  0.014964
5          sometimes     0011  2  104  2         12  0.014964
6               that     0011  2  104  2         12  0.014964
7              using     0011  2  104  2         12  0.014964
8                web     0011  2  104  2         12  0.014964
9               will     0011  2  104  2         12  0.014964
10                as     0011  2  104  4         12  0.009175
11              like     0011  2  104  4         12  0.009175
12             their     0011  2  104  4         12  0.009175
13                 a     0011  5  104  8         12  0.008466
14           Content     0011  1  104  2         12  0.007482
15              Many     0011  1  104  2         12  0.007482
1           Internet     0012  2  121  2         12  0.012862
2                 or     0012  2  121  2         12  0.012862
3              which     0012  2  121  2         12  0.012862
4                you     0012  2  121  2         12  0.012862
5              words     0012  3  121  4         12  0.011829
6                are     0012  2  121  4         12  0.007886
7             humour     0012  2  121  4         12  0.007886
8           injected     0012  2  121  4         12  0.007886
9                200     0012  1  121  2         12  0.006431
10               All     0012  1  121  2         12  0.006431
11                If     0012  1  121  2         12  0.006431
12             There     0012  1  121  2         12  0.006431
13        alteration     0012  1  121  2         12  0.006431
14            always     0012  1  121  2         12  0.006431
15          anything     0012  1  121  2         12  0.006431

[180 rows x 7 columns]

In [210]:
# Saving the Dataframe to a file 
# Please go to this File to view all the Top 15 TFIDF words per document

df_1_n.to_csv("DF_1_n", sep='\t', encoding='utf-8')

### Second Question

Modify the programs to remove from consideration all those words that occur only once in each document. Repeat the tasks of Q1 above. Comment on any changes in the results of part (b).

#### Solution:

For the Second Question, let start by storing all the results to variables in this namespace from
1. PhaseOne/results/phase1_2_res/part-r-00000
2. PhaseTwo/results/phase2_2_res/part-r-00000
3. PhaseThree/results/phase3_2_res/part-r-00000

In [211]:
# Storing the data from PhaseOne to the variables

with open("PhaseOne/results/phase1_2_res/part-r-00000") as file2_1:
    data2_1 = file2_1.read()
    data2_1_n= data2_1.split("\n")

word2_1 = []
document2_1 = []
val2_1 = []

print(data2_1_n[100])

for line in data2_1_n:
    if line!="":
        key = line.split("\t")[0]
        val2_1.append(int(line.split("\t")[1]))
        word2_1.append(key.split(",")[0])
        document2_1.append(key.split(",")[1])

print(word2_1[100],document2_1[100],val2_1[100])

injected,0005	2
injected 0005 2

In [212]:
# Storing the data from Phasetwo to the dictionary d2_1 that mpas each document to the 
# total number of terms in it

with open("PhaseTwo/results/phase2_2_res/part-r-00000") as file2_2:
    data2_2 = file2_2.read()
    data2_2_n= data2_2.split("\n")

print(data2_2_n)

d2_1={}

for line in data2_2_n:
    if line!="":
        d2_1[line.split("\t")[0]]=int(line.split("\t")[1])
        
print(d2_1)

totalDocs=len(d2_1)

print(totalDocs)

['0001\t37', '0002\t62', '0003\t9', '0004\t48', '0005\t50', '0006\t75', '0007\t38', '0008\t37', '0009\t62', '0010\t9', '0011\t48', '0012\t50', '']
{'0001': 37, '0002': 62, '0003': 9, '0004': 48, '0005': 50, '0006': 75, '0007': 38, '0008': 37, '0009': 62, '0010': 9, '0011': 48, '0012': 50}
12

In [213]:
# Storing the data from the PhaseThree to the dictionary d2_2 that maps each word to the 
# number of documents in which it occured

with open("PhaseThree/results/phase3_2_res/part-r-00000") as file2_3:
    data2_3 = file2_3.read()
    data2_3_n= data2_3.split("\n")

print(data2_3_n[10])

d2_2={}

for line in data2_3_n:
    if line!="":
        d2_2[line.split("\t")[0]]=int(line.split("\t")[1])

print(d2_2["Lorem"])

Lorem	8
8

In [214]:
# Creating a dataframe df_2 with the above information

df_2=pd.DataFrame(np.array(word2_1),columns=["Word"])

df_2["Document"]=document2_1

df_2["n"]=val2_1

df_2.head()

    Word Document  n
0  11032     0002  2
1  11032     0009  2
2     45     0002  2
3     45     0009  2
4     BC     0002  2

In [215]:
N_arr = []

for x in df_2["Document"]:
    N_arr.append(d2_1[x])
    
df_2["N"]=N_arr

df_2.head()

    Word Document  n   N
0  11032     0002  2  62
1  11032     0009  2  62
2     45     0002  2  62
3     45     0009  2  62
4     BC     0002  2  62

In [216]:
m_arr = []

for x in df_2["Word"]:
    m_arr.append(d2_2[x])
    
df_2["m"]=m_arr

df_2.head()

    Word Document  n   N  m
0  11032     0002  2  62  2
1  11032     0009  2  62  2
2     45     0002  2  62  2
3     45     0009  2  62  2
4     BC     0002  2  62  2

In [217]:
totalDocs_arr=np.full((df_2.shape[0],1),totalDocs)

df_2["totalDocs"] = totalDocs_arr

df_2.head()

    Word Document  n   N  m  totalDocs
0  11032     0002  2  62  2         12
1  11032     0009  2  62  2         12
2     45     0002  2  62  2         12
3     45     0009  2  62  2         12
4     BC     0002  2  62  2         12

In [218]:
# Calculating TF-IDF from all the variables collected 

df_2["TFIDF"] = df_2["n"]/df_2["N"] * np.log10(df_2["totalDocs"]/df_2["m"])

df_2

            Word Document  n   N   m  totalDocs     TFIDF
0          11032     0002  2  62   2         12  0.025102
1          11032     0009  2  62   2         12  0.025102
2             45     0002  2  62   2         12  0.025102
3             45     0009  2  62   2         12  0.025102
4             BC     0002  2  62   2         12  0.025102
5             BC     0009  2  62   2         12  0.025102
6           Cras     0006  3  75   2         12  0.031126
7           Cras     0007  2  38   2         12  0.040955
8          Donec     0006  2  75   2         12  0.020751
9          Donec     0007  2  38   2         12  0.040955
10          Duis     0006  2  75   1         12  0.028778
11      Internet     0005  2  50   2         12  0.031126
12      Internet     0012  2  50   2         12  0.031126
13         Ipsum     0001  4  37   8         12  0.019037
14         Ipsum     0002  4  62   8         12  0.011361
15         Ipsum     0004  2  48   8         12  0.007337
16         Ipsum     0005  5  50   8         12  0.017609
17         Ipsum     0008  4  37   8         12  0.019037
18         Ipsum     0009  4  62   8         12  0.011361
19         Ipsum     0011  2  48   8         12  0.007337
20         Ipsum     0012  5  50   8         12  0.017609
21            It     0001  2  37   2         12  0.042062
22            It     0008  2  37   2         12  0.042062
23         Latin     0002  3  62   2         12  0.037652
24         Latin     0009  3  62   2         12  0.037652
25         Lorem     0001  4  37   8         12  0.019037
26         Lorem     0002  5  62   8         12  0.014201
27         Lorem     0004  2  48   8         12  0.007337
28         Lorem     0005  5  50   8         12  0.017609
29         Lorem     0008  4  37   8         12  0.019037
..           ...      ... ..  ..  ..        ...       ...
164          the     0011  3  48  10         12  0.004949
165          the     0012  6  50  10         12  0.009502
166        their     0004  2  48   2         12  0.032423
167        their     0011  2  48   2         12  0.032423
168    tincidunt     0006  2  75   1         12  0.028778
169           to     0005  4  50   2         12  0.062252
170           to     0012  4  50   2         12  0.062252
171         type     0001  2  37   2         12  0.042062
172         type     0008  2  37   2         12  0.042062
173  typesetting     0001  2  37   2         12  0.042062
174  typesetting     0008  2  37   2         12  0.042062
175     ultrices     0006  2  75   1         12  0.028778
176        using     0004  2  48   2         12  0.032423
177        using     0011  2  48   2         12  0.032423
178           ut     0007  2  38   1         12  0.056799
179     vehicula     0007  2  38   1         12  0.056799
180      viverra     0006  2  75   2         12  0.020751
181      viverra     0007  2  38   2         12  0.040955
182          web     0004  2  48   2         12  0.032423
183          web     0011  2  48   2         12  0.032423
184        which     0005  2  50   2         12  0.031126
185        which     0012  2  50   2         12  0.031126
186         will     0004  2  48   2         12  0.032423
187         will     0011  2  48   2         12  0.032423
188         with     0001  2  37   2         12  0.042062
189         with     0008  2  37   2         12  0.042062
190        words     0005  3  50   2         12  0.046689
191        words     0012  3  50   2         12  0.046689
192          you     0005  2  50   2         12  0.031126
193          you     0012  2  50   2         12  0.031126

[194 rows x 7 columns]

In [219]:
# Saving Dataframe to a file

df_2.to_csv("DF_2", sep='\t', encoding='utf-8')

#### This code answers the b part of the question:

The dataframe df_2 is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

In [220]:
df_2_n=df_2.sort_values(["Document","TFIDF"],ascending=[True,False])

df_2_n=df_2_n.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_2_n=df_2_n.drop('level_0',axis = 1).set_index('level_1')

df_2_n=df_2_n.groupby(["Document"]).head(15)

df_2_n.index+=1

df_2_n

                Word Document  n   N   m  totalDocs     TFIDF
level_1
1                 It     0001  2  37   2         12  0.042062
2              dummy     0001  2  37   2         12  0.042062
3                has     0001  2  37   2         12  0.042062
4               text     0001  2  37   2         12  0.042062
5               type     0001  2  37   2         12  0.042062
6        typesetting     0001  2  37   2         12  0.042062
7               with     0001  2  37   2         12  0.042062
8                and     0001  3  37   6         12  0.024408
9              Ipsum     0001  4  37   8         12  0.019037
10             Lorem     0001  4  37   8         12  0.019037
11                of     0001  4  37   8         12  0.019037
12               the     0001  6  37  10         12  0.012840
13                 a     0001  2  37   8         12  0.009518
1              Latin     0002  3  62   2         12  0.037652
2               from     0002  4  62   4         12  0.030782
3                 in     0002  5  62   5         12  0.030662
4              11032     0002  2  62   2         12  0.025102
5                 45     0002  2  62   2         12  0.025102
6                 BC     0002  2  62   2         12  0.025102
7                The     0002  2  62   2         12  0.025102
8          classical     0002  2  62   2         12  0.025102
9              comes     0002  2  62   2         12  0.025102
10              line     0002  2  62   2         12  0.025102
11        literature     0002  2  62   2         12  0.025102
12           popular     0002  2  62   2         12  0.025102
13                of     0002  7  62   8         12  0.019881
14                is     0002  2  62   4         12  0.015391
15               and     0002  3  62   6         12  0.014566
1         reproduced     0003  2   9   2         12  0.172923
2                 by     0003  3   9   4         12  0.159040
...              ...      ... ..  ..  ..        ...       ...
1                 as     0011  2  48   2         12  0.032423
2            content     0011  2  48   2         12  0.032423
3               here     0011  2  48   2         12  0.032423
4                 it     0011  2  48   2         12  0.032423
5               like     0011  2  48   2         12  0.032423
6               page     0011  2  48   2         12  0.032423
7           readable     0011  2  48   2         12  0.032423
8          sometimes     0011  2  48   2         12  0.032423
9               that     0011  2  48   2         12  0.032423
10             their     0011  2  48   2         12  0.032423
11             using     0011  2  48   2         12  0.032423
12               web     0011  2  48   2         12  0.032423
13              will     0011  2  48   2         12  0.032423
14                by     0011  2  48   4         12  0.019880
15                is     0011  2  48   4         12  0.019880
1                 to     0012  4  50   2         12  0.062252
2              words     0012  3  50   2         12  0.046689
3           Internet     0012  2  50   2         12  0.031126
4                are     0012  2  50   2         12  0.031126
5             humour     0012  2  50   2         12  0.031126
6           injected     0012  2  50   2         12  0.031126
7                 on     0012  2  50   2         12  0.031126
8                 or     0012  2  50   2         12  0.031126
9              which     0012  2  50   2         12  0.031126
10               you     0012  2  50   2         12  0.031126
11                of     0012  6  50   8         12  0.021131
12             Ipsum     0012  5  50   8         12  0.017609
13             Lorem     0012  5  50   8         12  0.017609
14                in     0012  2  50   5         12  0.015208
15                 a     0012  3  50   8         12  0.010565

[154 rows x 7 columns]

In [221]:
# Saving this dataframe to a file
# Please go to this File to view all the Top 15 TFIDF words per document 

df_2_n.to_csv("DF_2_n", sep='\t', encoding='utf-8')

### Comments

This comments is based on the differences between the (b) part of the above two questions. In other words, this comments deals with the df_1_n and df_2_n dataframes.


1. Since the words whose frequency is less than 1 within each document is dropped it will reduce the number of terms in the document, that is, the values in N column in df_2 are lesser than that of in df_1. Furthermore, this will increase the TFIDF of all the terms in the document since the N is inversely proprtional to the TF-IDF as shown below:
            
            TF-IDF = ( n/N )*(IDF)

2. The main motive of TF-IDF is to increase the importance to the least occuring terms and lower the importance of frequently occuring words. When words that occur once is removed from consideration, all the frequent terms like a, the, of, etc., showed up in the top 15 per each document as seen in df_2_n when such words rarely made into this list(df_1_n).